button[disabled=disabled],
button:disabled {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAKrVq36zwjjgzhhYWGMYAEYB8RmROaABADeOQ8CXl/xfgAAAABJRU5ErkJggg==) repeat;
	background: rgba(255, 255, 255, 0.3);
	border: 1px solid grey;
	color: #827F7F;
}

.row__form {
	float: left;
	margin: 15px 0;
	width: 100%;
}

.col2 {
	float: left;
	width: 50%;
}

.col2__label {
	float: left;
	width: 50%;
}

.col2__label-small {
	float: left;
	width: 25%;
}

.col2__input {
	float: left;
}

.col2__input-large {
	float: left;
	width: 75%;
}

.col20 {
	float: left;
	width: 20%;
}

.col80 {
	float: left;
	width: 80%;
}

.input__100 {
	width: 100%;
}

.textarea__100 {
	height: 100px;
	width: 100%;
}

.input__medium,
.input__90 {
	width: 90%;
}

.input__80,
.select__80 {
	width: 80%;
}

.select__95 {
	width: 95%;
}

.icon__calendar {
	content: url('../images/icon_calendar.gif');
	margin-left: 5px;
}

.icon__spellcheck {
	display: inline-block;
}

.icon__info {
	display: inline-block;
	margin-left: 5px;
}

.infobox {
	position: relative;
}

a[title]:hover:after {
	background: #e0f1ff;
	border: 1px solid #0050b1;
	content: attr(title);
	padding: 5px;
	color: #0050b1;
	position: absolute;
	left: 0;
	top: 100%;
	width: 400px;
	font-weight: normal;
	z-index: 20px;
}

.tooltip {
	color: #000000;
	outline: none;
	cursor: help;
	text-decoration: none;
	position: relative;
}

.tooltip span {
	margin-left: -999em;
	position: absolute;
}

.tooltip:hover span {
	background: #e0f1ff;
	border: 1px solid #0050b1;
	color: #0050b1;
	border-radius: 3px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
	padding: 0.8em 1em;
	position: absolute;
	left: 1em;
	top: 1.5em;
	z-index: 99;
	margin-left: 0;
	width: 300px;
}

.tooltip i {
	color: #216b93;
	font-style: normal;
}

.label__radio {
	font-weight: normal;
}

.btn__search,
.btn__reset {
	margin-right: 5px;
}

.ui-datepicker .ui-datepicker-month,
.ui-datepicker .ui-datepicker-year {
    color: #333333;
}

ul.ui-autocomplete.ui-menu {
  z-index: 10000;
}

.ui-datepicker table {
    border: none;
}
