.banner {
	height: 119px;
}

.navigation {
	background: #A8D1EF;
}

.banner,
.navigation {
	float: left;
	width: 100%;
}

.navigation__welcome {
	float: left;
	width: 25%;
	font-style: italic;
	margin-left: 10px;
	margin-top: 5px;
	text-align: left;
}

.navigation__items {
	float: right;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: right;
	text-transform: uppercase;
}

.navigation a:link,
.navigation a:visited 
{
	padding-right: 20px;
	color: #152359;
	text-decoration: none;
    font-weight:  bold;	
	background-color: #A8D1EF;
}

.navigation a:active,
.navigation a:hover 
{
	text-decoration: underline;
}

.navigation li {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
    font-weight: bold;	
	color: #152359;
	background-color: #A8D1EF;
	display: block;
}

.navigation ul 
{
	margin: 0;
	padding: 0;
	list-style: none;
    font-weight: bold;	
	color: #152359;
	background-color: #A8D1EF;
}

