.page {
	background: white;
	float: left;
	width: 100%;
}

.page__landing {
	padding: 10px;
}

.page__sidenav {
	background: url('../images/back-leftsidebar.png');
	background-repeat: repeat-y;
}

.page__sidenav-main {
	float: left;
	padding: 10px 20px;
	width: 800px;
}

.form-controls {
	float: right;
}

.row {
	float: left;
	width: 100%;
}

.form-row {
	float: left;
	margin: 5px 0;
	width: 100%;
}

.buttonbar {
	margin: 10px 10px;
	background-color: #a5ceee;
	padding: 5px;
	max-width: 98%;
}

div#PromptSenderClass{
	&.col2{
	float: none;
	margin-left: 5%;
	}
}

#PromptSenderClass-label strong{
		margin-left: 5%;
}

.section {
	float: left;
	margin:0 0 20px 10px;
	width: 100%;
}

.small-1 {
    width: 8.33333%;
}

.small-3 {
    width: 25%;
}

.small-4 {
    width: 33.33333%;
}

.columns {
    position: relative;
    padding-right:4px;
    float: left;
		font-size: 11.2px;
		line-height: normal;
}

.col1 {
	float: left;
	margin-bottom: 5px;
	width: 100%;
}

.col2 {
	padding-right: 10px;
	width: 50%;
}

.col33,
.col3 {
	float: left;
	margin-right: 10px;
	max-width: 33%;
}

.col4 {
	float: left;
	margin-right: 10px;
	max-width: 24%;
}

.col5 {
	float: left;
	margin-right: 10px;
	max-width: 19%;
}

.col40 {
	width: 40%;
}

.col60 {
	width: 60%;
}

.form-row__controls {
	background: #A7CDEC;
	padding: 10px 5px;
}

.form-row__col {
	float: left;
	text-align: left;
}

.align-right {
	text-align: right;
}

.indent-sm {
	margin-left: 10%;
	width: 90%;
}

.indent-lg {
	margin-left: 25%;
	width: 75%;
}

div#PromptGuestActionFilter.col2 {
	float: none;
	margin-left: 10%;
	margin-top: 10px;
}

span.sidenav-report-icon {
    margin-right: 5px;
}
#forgotPassword.page div.row{
	margin-left: 10%;
}

div#PromptGroupNavigate {
	margin: 10px 0 20px 10px;
}

#ForgotPasswordPrompt {
	margin-left: 10px;
}

#ForgotPasswordCommentPrompt {
	margin-top: 10px;
}

#PromptTitle-label, #PromptOtherPhoneNumber-label, #PromptFaxNumber-label, #PromptCompanyStreet2-label, #PromptIssueCategory1-label strong, #PromptPetFoodChoice-label strong, #PromptLivestockFoodChoice-label strong,  {
	margin-left: 13px;
}

input{
	margin-right: 5px;
}

#PromptAttachDocumentFile-div {
	width: 91%;
}

#PromptAttachDocumentFile {
	width: 90%;
	margin-left: 33px;
}

#PromptAttachDocumentFileButton {
	margin-top: 4px;
}

// span {
// 	float: left;
// }

////// Reserved Class if flotaing all spans left ends up being a bad idea ///////
// .span-left{
// 	float: left;
// }
