table {
	border: 1px solid grey;
	border-bottom: none;
    border-collapse: separate;
    display: table;
    width: 100%;
}

table input[type="radio"] {
	margin: 0;
}

th {
	background: #E1DEC9;
	color: #152359;
	font-weight: bold;
	text-align: left;
}

th, td {
	padding: 5px;
}

th a {
	color: #152359;
	text-decoration: none;
}

caption {
	color: #152359;
	font-size: 1em;
	font-weight: bold;
	text-align: right;
	margin-bottom: 5px;
}

.table__grid td {
	border-top: 1px solid grey;
}

.table__grid th:nth-child(1) {
	width: 25px;
}

.table__grid th:nth-child(2) {
	width: 155px;
}

.table__grid th:nth-child(3) {
	width: 90px;
}

.table__grid th:nth-child(4) {
	width: 200px;
}

tfoot {
	background: #E1DEC9;
}

tfoot span {
	color: #216b93;
}

.table__controls {
	background: #E1DEC9;
	border: 1px solid grey;
	overflow: auto;
	padding: 5px;
}

.table__buttons {
	float: left;
	width: 80%;
}

.pagination {
	color: #216b93;
	float: left;
	text-align: right;
	width: 20%;
}

div#faq table {
  border: 1px solid grey;
  border-collapse: separate;
  display: table;
  width: 100%;
}
